.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* new css */
*{
  margin: 0;
  padding: 0;
}
.indexCont{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  }

/* #getMoviesBtn{
  margin:auto;

} */
.moviesCont{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;    
  margin: 3rem;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}
.movieitem {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid;
}

.movielist {
  width: 60%;
  margin-top: 1.5rem;
}
.group1 {
  display: flex;
  width: 80%;
  justify-content: flex-start;
}
.movieName{
  margin-left: 1rem;
}
.SearchCont {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
input.searchInput {
  height: 2rem;
  border-radius: 0.4rem;
  padding: 0 1rem;
  width: 70%;
  margin: 0 1rem;
  outline: none;
}
.iconView{
  cursor: pointer ;
}
.mainMovieScreen {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: flex-start;
  align-items: flex-start;
}
.navigationbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  margin-right: 1rem;
  /* width: 2rem; */
  /* height: 2rem; */
  display: flex;
  border: 0.1rem solid;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navhead {
  font-size: 1.3rem;
}

